{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="shortcut icon" href="{% static 'common/favicon.png' %}" type="image/png">
  <link rel="stylesheet" href="{% static 'common/common.css' %}">
  <title>Graphical Chat App - Index Page and static JS files Served by Django</title>
</head>
<body>

  <!-- Assets Table -->
  <script>
    const assets = {
        models: {
            BlueCube:   '{{ASSETS_URL}}' + 'sad_cube.glb',
            RedCube:    '{{ASSETS_URL}}' + 'cute_cube_1.obj',
            LargeFloor: '{{ASSETS_URL}}' + 'large_square.glb',
            StickWoman: '{{ASSETS_URL}}' + 'stick_woman.glb',
        }
    };
  </script>

  <!-- WebGL Render -->
  <div id="error_message_wrapper"></div>

  <!-- 3D Game Main Script -->
  <script type="module" src="{% static 'game/bundle.js' %}"></script>

</body>
</html>