{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="shortcut icon" href="{% static 'common/favicon.png' %}" type="image/png">
  <link rel="stylesheet" href="{% static 'common/common.css' %}">
  <link rel="stylesheet" href="{% static 'gcmain/main.css' %}">
  <title>Graphical Chat App</title>
  <style>
  
  #canvas_wrapper {
    position: fixed;
    z-index: 100;
  }

  #ui_wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 200;
    display: flex;
    justify-content: right;
  }
  #mode_buttons {
    margin: 10px;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  </style>
</head>
<body>

  <!-- Optional Helpful Information -->
  {% block debug %}
  {% endblock %}

  <!-- WebGL Render -->
  <div id="canvas_wrapper"></div>
  <!-- Floating UI -->
  <div id="ui_wrapper">
    <div id="mode_buttons">

      <!-- Logout Button -->
      <form class="logout-button" action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Sign Out">
      </form>

      <!-- Screen Select buttons -->
      <button id="main_screen_button">main screen</button>
      <button id="avatar_edit_button">edit avatar</button>
      <button id="hub_edit_button">edit hub</button>
    </div>
  </div>
  
  <!-- 3D Game Main Script -->
  <script type="module" src="{% static 'game/bundle.js' %}"></script>


</body>
</html>