{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Graphical Chat App</title>
  <link rel="shortcut icon" href="{% static 'common/favicon.png' %}" type="image/png">
  <link rel="stylesheet" href="{% static 'common/common.css' %}">
  <link rel="stylesheet" href="{% static 'gcmain/logout.css' %}">
  <script type="module" crossorigin src="{% static 'game/main/bundle.js' %}"></script>
  <link rel="stylesheet" crossorigin href="{% static 'game/main/bundle-BDHNTYpL.css' %}">
</head>
<body>

  <!-- Optional Helpful Information -->
  {% block debug %}
  {% endblock %}

  <!-- WebGL Render -->
  <div id="canvas_wrapper"></div>

  <!-- Floating UI -->
  <div id="ui_mega_wrapper"></div>

  <!-- Main Script -->

  <!-- Logout Button -->
  <form class="logout-button" action="{% url 'logout' %}" method="post">
    {% csrf_token %}
    <input type="submit" value="Sign Out">
  </form>

</body>
</html>