{% extends 'gclogin/base.html' %}

{% block title %}Graphical Chat App - Temporary password page to keep out the bad guys{% endblock %}

{% block main %}

  <form class="yellow-form" action="{% url 'unlockAlphaPassword' %}" method="post">
    {% csrf_token %}
    <h1>Graphical Chat App</h1>
    <p class="subtitle">-- closed alpha --</p>
    <div class="field">
      <input id="password_input" type="password" name="password">
      <p class="red-help-text">Please enter password.</p>
    </div>
    <input type="submit" value="Submit" class="red-submit">
  </form>

{% endblock %}