{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'gclogin/gclogin.css' %}">
    <title>Graphical Chat - Temporary Password Page to Keep Out the Bad Guys</title>
</head>
<body>

  <!-- Django Middleware Messages -->
 {% if messages %}
  {% for message in messages %}
  <div class="message
   {% if message.tags %} {{message.tags}}{% endif %}">
    {{message}}
  </div>
  {% endfor %}
 {% endif %}

  <!-- Prompt -->
  <p>This app is a work-in-progress. Please enter the password to proceed.</p>

  <form action="{% url 'alpha_password_view' %}" method="post">
    {% csrf_token %}
    <input type="password" name="password">
    <input type="submit">
  </form>

</body>
</html>