{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'gclogin/gclogin.css' %}">
  <title>{% block title %}[login base template]{% endblock %}</title>
</head>
<body>
    
{% block main %}{% endblock %}

<footer>
  <div class="footer--social">
    <span><a href="#">discord</a></span>
    <span><a href="#">insta</a></span>
    <span><a href="#">github</a></span>
  </div>
  <div class="footer--text">
    <span>
      <a href="#">Terms of Use</a>
    </span>
  </div>
  <div class="footer--text">
    <span>
      <a href="#">Privacy</a>
    </span>
  </div>
  <div class="footer--text">
    <span>
      <a href="#">Help</a>
    </span>
  </div>
</footer>

</body>


</html>