{% extends 'gclogin/base.html' %}

{% block title %}Graphical Chat App - Change Password{% endblock %}

{% block main %}
<div class="message-block">
  <h1>Password reset sent</h1>
  <p class="p-message">We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>
  <p class="p-message">If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</p>
</div>
{% endblock %}