/* gclogin.css */
/*
    Palette
    -------
    dark green: #0b3000
    olive green: #5f7733
    very light yellow: #fff8d1
    medium yellow: #ffe003
    red: #ff0000
    very dark red: #400000
    lightest red: #ffb1d2
    lighter red: #ff9dc6
    light red: #ff70aa
    very dark blue: #010749
    pale blue: #9ba4ff
    deep blue: #2235ff
 */
body {
  background-image: url('background.png');
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: inset 0 0 90px 120px #ffffff44;
  font-family: "ArialRoundedMT", Verdana, sans-serif;
}

/*** DJANGO MESSAGES ***/
.django-messages {
    background-color: #fff;
    color: #000;
    padding: 6px 8px;
    position: absolute;
    top: 20px;
}

.p-message {
    background-color: #fff;
    color: #000;
    padding: 6px 8px;
}
.message-block {
    text-align: center;
}
.message-block > * {
    margin: 20px 0;
}


/*** FORM ***/
.yellow-form {
    border: 2px solid #0b3000;
    border-radius: 30px;
    padding: 18px;
    background: linear-gradient(#fff8d1, #ffe003);
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 300px;
}
.yellow-form.password-change {
    max-width: 450px;
}
.yellow-form .subtitle {
    color: #5f7733;
}
.yellow-form .helptext {
    font-size: 12px;
    width: 210px;
}
.yellow-form .red-help-text {
    color: #ff0000;
    text-align: center;
    margin: 6px 0;
}
.yellow-form div {  
    margin: 12px 0;
    display: flex;
    flex-direction: column;
}
.yellow-form input[type="text"], .yellow-form input[type="password"],
.transparent-form input[type="email"] {
    border: 2px solid #0b3000;
    border-radius: 10px;
    padding: 6px 8px;
    font-size: 14px;
    margin-right: 8px;
}
.transparent-form input[type="email"] { width: 350px; }

.red-submit {
    background: linear-gradient(#ffb1d2, #ff9dc6, #ff9dc6, #ff70aa);
    color: #400000;
    font-size: 14px;
    padding: 6px 8px;
    border: 2px solid #400000;
    border-radius: 10px;
}
.blue-submit {
    background: linear-gradient(#b2b9ff, #2235ff);
    color: #fff;
    font-size: 14px;
    padding: 6px 8px;
    border: 2px solid #010749;
    border-radius: 10px;
    font-weight: bold;
}
.password-help-text {
    color: #454fc2;
    margin-top: 8px;
}
.password-help-text:hover {
    color: #8b95ff;
}


/*** PAGE MAIN ***/
main.password-reset * {
    margin: 12px 0;
    text-align: center;
}

main.password-reset-change .yellow-form {
    max-width: 800px;
}
main.password-reset-change .yellow-form .helptext {
    width: 300px;
}
main.password-reset-change .yellow-form input[type="password"] {
    width: 300px;
}

main.password-reset-complete * {
    margin: 12px auto;
    text-align: center;
}
main.password-reset-complete a {
    display: block;
    width: fit-content;
}


/*** FOOTER ***/
.site-footer {
    color: #0b3000;
    height: 50px;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    font-size: 20px;
    font-weight: bold;
}
.site-footer span:hover {
    background-color: #fff;
}
.site-footer a {
    margin: 0 16px;
    background-color: #ffffff99;
    border-radius: 10px;
    padding: 6px 8px;
    color: #0b3000;
}
.site-footer a:hover {
    background-color: #fff;
}