<p>You've been invited to create an account on Graphical Chat App</p>
    
<p>This is still in very early development. Feel free to contact me to report any problems you encounter, or to give your thoughts and feedback on the project. I would love to hear from you!</p>

Click on the link, or copy-and-paste it into your web browser: <h3><a href="#">https://graphicalchat.app/auth/invitation/?email={{email}}&code={{code}}/</a></h3>

<p>Contact: info@graphicalchat.app</p>
-----------------------------------------------------------------<br><br>

<p>This is an automated e-mail, so please do not reply to it.</p>