/* common.css */

/*** FONTS ***/
@font-face {
    font-family: ArialRoundedMT;
    src: url('ARLRDBD.ttf');
}


/*** RESET ***/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul, li {
    list-style: none;
}
a {
    text-decoration: none;
}


/*** DEBUG WIDGET ***/
.debug-widget {
    position: absolute;
    color: #fff;
    top: 4px;
    left: 6px;
    z-index: 20;
}
.debug-widget td:nth-child(1) {
    text-align: right;
    color: #ffff00;
}
.debug-widget-background {
    background-color: #00000099;
    width: 300px;
    height: 60px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}