/* 3D Game Base CSS */

/*** RESET ***/
div, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}


/*** UI SETUP ***/
#canvas_wrapper {
  position: fixed;
  z-index: 100;
}

.ui-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 200;
  pointer-events: none;
}

.ui-layer {
  position: fixed;
  width: 100%;
  height: 100%;
}

.ui-layer > div {
  position: absolute;
}

.clickable {
  pointer-events: auto;
  cursor: pointer;
}