/* Defines the loading screen */
.loading-overlay {
    background-color: #7a007093;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}